.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
}
.list-group {
  /* display: none !important; */
  opacity: 0;
  transition: all 1s;
  overflow: hidden;
  height: 0;
}
.show {
  /* display: block !important; */
  opacity: 1;
  height: 1;
  overflow: visible;
}

.black-bg {
  width: 100%;
  height: 0%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 6;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.show-modal {
  visibility: visible;
  opacity: 1;
  height: 100%;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.img {
  width: 100%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}
.show-img {
  height: 100%;
  visibility: visible;
  opacity: 1;
}
.img-main {
  width: 100%;
  height: 100%;
}

.ft-dark {
  color: black !important;
}
.label {
  display: none !important;
}
.openLabel {
  display: block !important;
}

.pic {
  /* display: none !important; */
  opacity: 0;
  transition: all 1s;
  overflow: hidden;
  height: 0;
}

.picShow {
  /* display: block !important; */
  opacity: 1;
  height: 1;
  overflow: visible;
}
.slide-container {
  width: 400vw;
  height: 50vw;
  transition: all 1s;
}
.slide-box {
  width: 100vw;
  height: 50vw;
  float: left;
}
.slide-box img {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100% !important;
  position: fixed !important;
  z-index: 5 !important;
}

.navbar-brand {
  font-size: 30px;
}
.userMenu {
  width: 200px;
  height: 100px;
  overflow-y: scroll;
}

.press-bar {
  width: 0%;
  height: 5px;
  background-color: red;
  transition: all 1s;
  z-index: 5 !important;
}

.form-hide {
  display: none !important;
}

.grey {
  background-color: lightgray;
  height: 2000px;
  margin-top: 500px;
}
.image {
  float: right;
  width: 400px;
  position: sticky;
  top: 150px;
}
.text {
  float: left;
  width: 300px;
}
.card-background {
  height: 3000px;
  margin-top: 800px;
  margin-bottom: 1600px;
}
.card-box img {
  display: block;
  margin: auto;
  max-width: 50%;
}
.card-box {
  position: sticky;
  top: 200px;
  margin-top: 200px;
}
